<html>

<head>
<title>Introduction</title>
</head>

<body>

<h1>Introduction</h1>
<p>&nbsp;</p>
<p>This application built for a Basketball enthusiast to compare NBA Player statistics and build a model to predict a player's salary based on his game stats such as efficiency (PER), average points, assists and blocks using supervised learning method Multiple Linear regression. This model also provides the key components or important variables in determining the player salary by using unsupervised learning model Principal Component Analysis (PCA)</p>
<h3>Player Stats Menu</h3>
<p>This Menu can be used to draw dynamic comparison bar charts based on user selection that can be downloaded in CSV or PDF format. An R package called SportsAnalytics has been used with fetch_NBAPlayerStatistics function to fetch the data from source Source http://pesstatsdatabase.com/
</p>
<h3>Team Stats Menu</h3>
<p>This Menu can be used to get a summary of Team stats for a given season or all seasons from 2000-01 to 2018-19. This menu has two sub tabs one for table view and second one  for the team performance plot. Source data is downloaded in CSV format from 
https://www.kaggle.com/schmadam97/nba-regular-season-stats-20182019</p>
</body>
</html>
